@page "/popup"

<h3>Popup</h3>

<p>This is a blank Blazor page.</p>

<!-- Button trigger modal -->
<button class="btn btn-primary" onclick="ConfirmInternalNavigation()">Pop Up</button>

@code {
    // Add your code here

    [Inject]
    protected IJSRuntime jsRuntime { get; set; } = null!;

    protected async Task ConfirmInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Discard your changes?");

    }
}
