@page "/counter"
@rendermode InteractiveAuto
@inject ILogger<Counter> log

<PageTitle>Counter</PageTitle>

<h1>Counter Bobo</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override void OnParametersSet()   
    {
        currentCount = 0;
        log.LogInformation("OnParametersSet");
    
    }
  protected override void OnInitialized()
    {
        currentCount = 0;
        log.LogInformation("OnInitialized");
    
    }
      protected override void OnAfterRender(bool firstRender)   
    {
        currentCount = 0;
        log.LogInformation($"OnAfterRender - FirstRender: {firstRender}");
    
    }
}
