@page "/CSSAnime"

<PageTitle>CSSAnime</PageTitle>

<h1>Hello, CSS Animation</h1>

Welcome to your CSS Animation page.
<br>
<br>
<br>
<button class="animRotate">Rotate</button>
<br>
<br>
<br>
<button class="animFadeIn">Fade In</button>
<br>
<br>
<br>
<button class="animPulsing">Pulsing</button>
<br>
<br>
<br>
<button class="animBouncing">Bouncing</button>