@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br>
<br>
<br>



<div class="jojo" style="width: 300px; height: 40px; background: cyan">
    <h3 style="padding-top: 5px; padding-left: 10px;"> This is my html box</h3>    
</div>
<br>
<br>
<br>

<button class="jojo">Click me
    
    </button>

<br>
<br>
<br>
<div style="width: 200px;">This is a div with a width of 200 pixels.</div>
<div class="flex-container">
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</div>
