@page "/Home3"

<PageTitle>Home3</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<LearnModal Title="My first Modal dialog" Show="true">
 <p>
   This is my first modal dialog
 </p>
</LearnModal>
